@model AlkemyLabs.Models.ViewModels.MatterViewModel
@{
    ViewBag.Title = "Agregar Materia";
}

<h2>@ViewBag.Title</h2>

<div class=" row">
    <div class="col-md-12">
        @using (Html.BeginForm("Add", "User", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("error", new { @class = "text-danger" })
            @Html.LabelFor(a => a.name)
            @Html.TextBoxFor(a => a.name, new { @class = "form-control" })
            @Html.LabelFor(a => a.description)
            @Html.TextBoxFor(a => a.description, new { @class = "form-control" })
            @Html.LabelFor(a=>a.Time)
            @Html.TextBoxFor(a=>a.Time, new {@class="form-control datapicker" })
            @Html.LabelFor(a=>a.idTeacher)
            @Html.DropDownListFor(a=>a.idTeacher, new SelectList(Model.teachers, "id", "name"), new { @class="form-control"})
            @Html.LabelFor(a=>a.quota)
            @Html.TextBoxFor(a=>a.quota, new { @class="form-control"})

            <div style="text-align:right">
                <input type="submit" class="btn btn-success" value="Save" />
            </div>


        }

    </div>

</div>
